@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'), url('../fonts/latomedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/latobold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*  reset css */
* {
    box-sizing: border-box;
    transition: .4s;
}

*:focus {
    outline: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato';
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #004BC1;
    font-size: 18px;
    line-height: 22px;
}

.button {
    background: #004BC1;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    height: 56px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border: none;
    cursor: pointer;
}

::placeholder {
    font-size: 18px;
    color: #595959;
}


form {
    margin-top: 64px;
    max-width: 360px;
    width: 100%;
}

form input:not([type=checkbox]) {
    width: 100%;
}

form h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 41px;
}

input:not([type=checkbox]),
select {
    background: #FFFFFF;
    border: 1px solid #BABABA;
    border-radius: 4px;
    height: 56px;
    padding: 16px;
    font-size: 18px;
    width: 100%;
}

.field {
    margin-bottom: 32px;
}

.field a {
    margin-top: 11px;
    display: inline-block;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}


/* // header */

header {
    height: 80px;
    background: #004BC1;
}

.header-content {
    max-width: 1280px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 15px;
}

.logo {
    width: 203px;
    height: 55px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
}

nav ul li {
    height: 100%;
}

nav ul li a {
    height: 100%;
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
}

main {
    background: #F6F8FE;
    height: 100%;
    display: flex;
    justify-content: center;
}

.styling-label {
    position: relative;
}

.styling-label label {
    position: absolute;
    background: #fff;
    font-size: 12px;
    line-height: 0;
    padding: 0 3px;
    left: 20px;
    top: 0;
    height: 7px;
}

/* // dashboard */

.wrapper {
    position: relative;
    height: 100%;
    background: #F6F8FE;
}

.sidebar {
    width: 256px;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    z-index: 2;
}

.search {
    background-color: #fff;
}

.search input::placeholder {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #595959;
}

.search svg {
    margin: 0 0 0 30px;
}

.search label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search input {
    border: 0;
    padding-right: 40px;
}

.top {
    left: 256px;
    height: 60px;
    position: absolute;
    right: 0;
}

.content {
    position: absolute;
    top: 60px;
    left: 256px;
    bottom: 0;
    right: 0;
    padding: 36px;
}

table {
    width: 100%;
    background-color: #fff;
}

th,td {
    padding: 11px 32px;
    border-bottom: 1px solid #EBEFF2;
    text-align: left;
    letter-spacing: 0.01em;
    font-size: 14px;
}

th {
    line-height: 17px;
    color: #252525;
}

td {
    line-height: 19px;
    color: #595959;
}

.sidebar-content  > span {
    color: #004BC1;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #EBEFF2;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.sidebar-content .nav {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    border-bottom: 1px solid #EBEFF2;
}

.sidebar-content .nav a {
    display: flex;
    align-items: center;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #595959;
    border-left: 3px solid transparent;
}

.sidebar-content .nav a.active {
    border-color: #004BC1;
    background-color: #F6F8FE;
    color: #252525;
}

.sidebar-content .nav a svg {
    margin-right: 14px;
}

.user {
    padding: 24px 15px;
    display: flex;
    align-items: center;
}
.user img {
    margin-right: 14px;
}

.user-name {
    font-size: 14px;
    line-height: 17px;
}

.user-email {
    font-size: 12px;
    line-height: 14px;
}

.settings {
    padding: 22px 24px;
}

.settings a {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #595959;
}

.settings a svg {
    margin-right: 14px;
}

.action-block {
    display: flex;
    justify-content: space-between;
}

.action-block button {
    width: 160px;
    height: 42px;
    margin-bottom: 14px;
}

.action-block .select-list {
    display: flex;
}

.action-block .select-list label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #575757;
    margin-right: 30px;
}

.action-block .select-list select {
    border: 0;
    background: none;
    height: auto;
    padding: 0 16px;
    font-size: 14px;
    line-height: 16px;
    color: #004BC1;
}

.js-tab-content {
    display: none;
}

.js-tab-content.active {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    left: 140px;
    right: 140px;
    top: 140px;
    bottom: 140px;
    background-color: #fff;
    border-radius: 12px;
    padding: 52px 78px;
    z-index: 10;
}

.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fieldset .field {
    width: 30%;
}

.fieldset .field input,
.fieldset .field select {
    width: 100%;
}

.modal form {
    max-width: none;
    margin: 0;
}

h3 {
    margin-bottom: 40px;
}

.actions {
    display: flex;
    margin-top: 30px;
}

.actions .button {
    width: 200px;
    margin-right: 14px;
}

.button.secondary {
    background: #fff;
    color: #004BC1;
    border: 1px solid #004BC1;
}
.questions-block table {
    display: flex;
    flex-direction: column;
}

.questions-block table tr,
.questions-block table th {
    display: flex;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.questions-block table td {
    max-height: 73px;
    overflow: hidden;
}

.questions-block table td:first-child {
    min-width: 30%;
    max-width: 30%;
}

.questions-block table td:last-child {
    min-width: 120px;
    max-width: 120px;
}

.hover-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 11px 32px;
    border-bottom: 1px solid #EBEFF2;
    background-color: #fff;
    text-align: left;
    letter-spacing: 0.01em;
    font-size: 14px;
    z-index: 1;
    padding: 0;
}

.questions-block .hover-block td {
    max-height: none;
}


/* new-styles {} */

.content {
    padding-bottom: 64px;
}

.js-tab-content {
    max-height: 100%;
}

.request-block {
    height: 100%;
}

.table-full-height {
    height: 100%;
    overflow: auto;
}

.table-full-height td,
.table-full-height th {
    vertical-align: middle;
}

.styled-checkbox {
    display: flex;
}

.styled-checkbox span {
    width: 16px;
    height: 16px;
    padding: 4px;
    border: 1.4px solid #595959;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
}

.styled-checkbox:hover span {
    border-color: #013C99;
}

.styled-checkbox input + span:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    transition: 0.4s;
}

.styled-checkbox input:disabled + span {
    border-color: rgba(130, 130, 130, 0.5);
    cursor: not-allowed	;
}


.styled-checkbox input:checked + span {
    border-color: #013C99;
}

.styled-checkbox input:checked + span:after {
    background-color: #013C99;
}

.styled-checkbox input {
    height: 0;
    margin: 0;
    overflow: hidden;
}

select.executor {
    border: 1px solid #949494;
    border-radius: 4px;
    width: 200px;
    font-size: 14px;
    height: 40px;
    padding: 10px 16px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    line-height: 16px;
    background-color: #fff;
}

.pages {
    display: flex;
    align-items: center;
    margin-left: 100px;
    padding: 10px 40px;
}

.prev__page svg {
    fill: rgba(87, 87, 87, 0.5);
}

.next__page svg {
    fill: #252525;
}
.pages span {
    display: block;
    margin-right: 12px;
}

.pages a {
    width: 24px;
    height: 24px;
    display: block;
}

.sidebar-bottom__button {
    color: #EB5757;
    fill: #EB5757;
    display: flex;
    align-items: center;
    transition: 0.4s;
}

.sidebar-bottom__button:hover {
    color: #B3202E;
    fill: #B3202E;
}

.sidebar-bottom__button:active {
    color: #7C0006;
    fill: #7C0006;
}

.sidebar-bottom__button svg {
    transition: 0.4s;
    margin-right: 20px;
}